<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>DAM2 - API REST</h1>
  <p>
    Aplicación Ionic + Angular Standalone para consumir la API REST de DummyJSON.
  </p>

  <div style="display: flex; gap: 12px; flex-wrap: wrap; margin-top: 20px;">
    <ion-button routerLink="/productos" color="primary">
      Ver productos
    </ion-button>
    <ion-button routerLink="/about" color="secondary">
      Sobre Nosotros (About)
    </ion-button>
  </div>
</ion-content>
